*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: black;
    
}

.efecto{
display: grid;
border: 1px solid black;
width: 300px;
height: 300px;
flex-basis: 50%;
grid-template-rows: 1fr 1fr;


}

.btn{
  background-color: #e60023;
  color: #fff;
  border: none;
  cursor: pointer;
  position: relative;
  top: 30px;
  left: 165px;
  border-radius: 50px;
  width: 80px;
  height: auto;
  text-align: center;
  padding: 10px 10px;   
    
}
   
.svg{
    display: flex;
    align-self: flex-end;
    gap: 20px;
    padding-left: 175px;
    padding-bottom: 30px;
    cursor: pointer;
}


 











